/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Encabezado */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #111;
}

/* Secciones */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #4CAF50;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
